<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />

    <title>@ViewBag.Title</title>

</head>
<body class="m-1 p-1">
    <div class="bg-info ">
        <h4>@ViewBag.Title</h4>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
